# Git
.git
.gitignore
.github/

# Virtual environment
app/venv/
app/.venv/
app/.env/
app/env/
venv/
.env/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.installed.cfg
*.egg

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Documentation and README
README.md
docs/

# Игнорируем директории с тестами при сборке продакшн-образа
app/tests/

# Docker files
Dockerfile
docker-compose.yml
.dockerignore 